*{
	margin:0;
	padding:0;
}

body{
	margin:0 0 0 0;
	display: flex;
	background-color:#c4442d;
	flex-flow: column wrap;
	height: 750px;

	/*justify-content:space-around; 
	align-items: flex-start;
	flex-wrap: wrap*/
	
}
article{
	/*display: block;*/
	margin: 10px;
	background-color: white;
	width:350px;
	/*padding: 10px;*/

}

p{
	padding: 10px 0 10px 10px;
}